.container {
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    height: 95vh;
}

.header-menu {
    height: 5vh;
    width: 100%;
    background: #efefef;
}

.menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #efefef;
    height: 100%;
}

.menu a {
    text-decoration: none;
    text-align: center;
    background: #efefef;
    border: solid 1px #767676;
    appearance: auto;
    color: black;
    padding: 5px;
    margin-block: 5px;
}
